<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>

<body>
    <div>
        <div>
            <h1>{{product.title}}</h1>
            <p>{{product.description}}</p>
            <h5>Price: {{product.price}} $</h5>
        </div>
        <div>
            <a href="{% url 'products_list'%}">
                <p>go back home</p>
            </a>
        </div>
    </div>
</body>

</html>