<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
</head>

<body>
    <div>
        <h1>Products:</h1>
        <ul>
            {% for product in products %}
            <li>
                <a href="{% url 'product_details' product.pk %}">
                    <h3>{{product.title}}</h3>
                </a>
                <h5>Price: {{product.price}} $</h5>
            </li>
            {% empty %}
            <p>No Products Yet!</p>
            {% endfor %}
        </ul>
    </div>
</body>

</html>