{% extends "base.html" %}
{% block head_title %}All Products{% endblock %}

{% block content %}
<section class="clearfix">

    <h2 class="section-headline">Your Cart</h2>
    <p class="section-description">
        Please check your products before checkout.
    </p>

    <div class="cart">
        <ul>
            {% for product in products %}
            <li class="item">
                <div class="cart-product-img">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" />
                </div>
                <div>
                    <h3>{{ product.title | capfirst }}</h3>
                </div>
                <div>
                    <p>${{ product.price | floatformat:2 }}</p>
                </div>
                <div>
                    <a href="{% url 'remove_cart' product_id=product.id %}" class="remove">x</a>
                </div>
            </li>
            {% empty %}
            <li>
                <p>
                    Your Cart still empty click <a href="{% url 'home' %}">Here</a>,
                    for chosing some products they make you Happy to buy it.
                </p>
            </li>
            {% endfor %}


            <li class="item" id="cart-summary">
                <div>
                    <p></p>
                </div>
                <div>
                    <h3>Total</h3>
                </div>
                <div>
                    <p>${{ total_price | floatformat:2 }}</p>
                </div>
                <div>
                    <a href="{% url 'order_create' %}" class="checkout">Checkout</a>
                    <a href="{% url 'remove_all_cart' %}" class="clear">Clear Cart</a>
                </div>
            </li>

        </ul>
    </div>
</section>
<a class="back" href="{% url 'home' %}">Back to Store</a>
{% endblock %}