{% extends "base.html" %}
{% block head_title %}All Products{% endblock %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">{{ product.title | capfirst }}</h2>
                                </td>
                                <td>${{ product.price | floatformat:2 }}</td>
                                <td><a href="{% url 'remove_cart' product_id=product.id %}"
                                        class="btn btn-primary btn-sm">X</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">
                                    Your Cart still empty click <a href="{% url 'home' %}">Here</a>,
                                    for chosing some products they make you Happy to buy it.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <a href="{% url 'remove_all_cart' %}" class="btn btn-primary btn-sm btn-block">Clear Cart</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm btn-block">Continue
                            Shopping</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{ total_price | floatformat:2 }}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'order_create' %}" class="btn btn-primary btn-lg py-3 btn-block"
                                    onclick="window.location">Proceed To Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}